.pad5 {
    padding: 5px;
}

.dqbg {
    /* 可以添加该类对应的背景等样式属性 */
}

.margb5 {
    margin-bottom: 5px;
}

.table-border {
    border-collapse: collapse;
    border: 1px solid;
}

.COLLECTION {
    text-align: right;
}

.even {
    background-color: #f0f0f0;
}

.padl5 {
    padding-left: 5px;
}

.button {
    background-color: #ccc;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}